body {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  font-family: 'Rambla', sans-serif;
  background-color: rgb(66, 66, 66);
}

.head {
  padding: 25px 0;
  width: 70%;
  box-shadow: 5px 5px 15px black;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  background-color: white;
}

img {
  max-height: 350px;
  margin-bottom: 15px;
}

#textspace {
  width: 60%;
  outline: none;
  margin-bottom: 15px;
  border: 0.1px solid black;
  min-height: 37px;
  padding-left: 10px;
  border-radius: 5px;
}

#btn-holder {
  width: 60%;
  margin: auto;
  min-height: 40px;
  margin-bottom: 10px;
}

#random {
  background-color: rgb(66, 66, 66);
  color: rgb(255, 153, 0);
  width: 35%;
  float: right;
  padding-top: 6px;
}

button {
  width: 63%;
  float: left;
  color: white;
  background-color: rgb(255, 153, 0);
}

.btn-stl {
  border: none;
  outline: none;
  height: 32px;
  border-radius: 10px;
}

a:link, a:visited, a:active {
  text-decoration: none;
}

#inner {
  margin: 9px 0;
  transition: 0.5s;
  color: white;
  border-radius: 10px;
  border: 0.5px solid;
  overflow: hidden;
  display: block;
  height: 160px;
  padding: 7px;
}

#inner:hover {
  background-color: rgb(255, 153, 0);
  color: white;
  transform: scale(1.1, 1.1);
  box-shadow: 1px 1px 5px;
}

button:hover {
  color: rgb(255, 153, 0);
  background-color: rgb(66, 66, 66);
}

@media screen and (max-width: 1000px) {
  button {
    width: 100%;
    margin-bottom: 5px;
  }

  #random {
    width: 100%;
  }
}

.footer {
  margin-top: 10px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
  color: black;
  font-family: 'Quicksand';
  padding: 3px 0;
  text-align: center;
}

.line {
  height: 2px;
  margin-bottom: 4px;
  width: 100%;
  background: rgb(66, 66, 66);
}
